body
{
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyLLwDhzmmqQ0GSPV7art2dUz81ymOGneujZO62w38A1aDGebq)
}

div
{

	background-color: lightblue;

	margin: 10px;

	width: 78%;

}

div
{

	border: solid 5px black;

	padding: 5px;

}

h1, h2, span
{

	font-weight: bold;

	

}

h1
{

	font-size: 30pt;

}

ol{

	list-style: decimal inside; 

}

ul 
{

	list-style: disc inside;

	text-indent: 20px;
}
#one
{
    height: 200px;
    width: 300px;
}
#two
{
    height: 200px;
    width: 300px;
}
#three
{
    height: 200px;
    width: 300px;
}
#four
{
    height: 200px;
    width: 300px;
}
